/* CSS Document */

.home1 {background: url(../images/box_speak2.jpg);}
.home2 {background: url(../images/box_sponsor2.jpg);}
.home3 {background: url(../images/box_webinars2.jpg);}
.home4 {background: url(../images/box_history2.jpg);}

.home5 {background: url(../images/link_brf2.gif);}
.home6 {background: url(../images/link_edm2.gif);}
.home7 {background: url(../images/link_rts2.gif);}
.home8 {background: url(../images/link_expo2.gif);}